html,
body,
#viewDiv {
  font-family: "Avenir Next W00", "Avenir Next", Avenir;
  padding: 20;
  margin: 20;
  height: 100%;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-logo {
  height: 38px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.title-main {
  color: white;
  font-size: 18pt;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.title-divider {
  position: relative;
  color: aliceblue;
  height: 100px;
  margin: 0 15px;
  border-left: 1px solid;
}

.title-subheader {
  color: white;
  font-size: 12pt;
  font-weight: 200;
}
