html,
body {
  font-family: "Avenir Next W00", "Avenir Next", Avenir;
  padding: 20;
  margin: 20;
  width: 100%;
  height: 20px;
}

#viewDiv {
  display: flex;
  top: 700px;
  margin: 20;
  width: 100%;
  height: 100%;
}

.dap-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.nav {
  float: left;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-logo {
  height: 38px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.title-main {
  color: white;
  font-size: 18pt;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.title-divider {
  position: relative;
  color: aliceblue;
  height: 100px;
  margin: 0 15px;
  border-left: 1px solid;
}

.title-subheader {
  color: white;
  font-size: 12pt;
  font-weight: 200;
}

/* Right-aligned section inside the top navigation */
.nav-right .ml-auto {
  float: right;
  left: auto !important;
  right: 0px;
}
